<div class="container">
    <h1>Detalles de {{title}}</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <p>Descripci贸n: {{description}}</p>
        </div>
        <div class="col-md-6">
            <p>Autor/a:</p>
            <!-- {{author}} es un array de objetos con toda la informaci贸n de cada autor gracias a la populaci贸n del controlador -->
            {{#each author}}
            <img src="{{pictureUrl}}" alt="" style="width: 100%">
            <p>Nombre: {{name}} {{lastName}} ({{nationality}})</p>
            {{/each}}
            <hr>
            <p>Puntuaci贸n: {{rating}}</p>
        </div>
    </div>
    <a class="btn btn-dark" href="/libros/listado">Volver a los libros</a>

</div>